<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>${APP_IDENTIFIER_PREFIX}${TARGET_BUNDLE_ID}</string>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.team-identifier</key>
	<string>${TEAM_ID}</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>${APP_GROUP:shared}</string>
	</array>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.1</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.2</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.3</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.4</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.5</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.6</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.7</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.8</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.9</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.10</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.11</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.12</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.13</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.14</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.15</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.16</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.17</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.18</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.19</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.20</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.21</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.22</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.23</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.24</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.25</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.26</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.27</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.28</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.29</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.30</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.31</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.32</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.33</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.34</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.35</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.36</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.37</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.38</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.39</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.40</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.41</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.42</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.43</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.44</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.45</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.46</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.47</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.48</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.49</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.50</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.51</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.52</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.53</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.54</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.55</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.56</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.57</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.58</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.59</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.60</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.61</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.62</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.63</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.64</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.65</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.66</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.67</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.68</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.69</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.70</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.71</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.72</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.73</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.74</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.75</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.76</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.77</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.78</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.79</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.80</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.81</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.82</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.83</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.84</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.85</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.86</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.87</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.88</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.89</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.90</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.91</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.92</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.93</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.94</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.95</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.96</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.97</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.98</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.99</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.100</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.101</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.102</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.103</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.104</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.105</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.106</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.107</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.108</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.109</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.110</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.111</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.112</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.113</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.114</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.115</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.116</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.117</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.118</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.119</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.120</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.121</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.122</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.123</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.124</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.125</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.126</string>
		<string>${APP_IDENTIFIER_PREFIX}com.kdt.livecontainer.shared.127</string>
	</array>
</dict>
</plist>
